body {
    padding: 5vw;
}

.overlay {
    /* background-color: orange; */
    background-image: url(bkgr.gif);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
     
}






