body {
background-color: rgb(73, 219, 68);
}

header {
    background-color: chocolate;
}

nav {
    background-color: yellow;
}

main {
    background-color: lightsalmon;
}
footer {
    background-color: lightblue;
}