.container {
    max-width: 90rem;
    margin: auto;
    box-shadow: 0 0 10px rgba(94, 94, 94, 0.785);
}

h1,h2,h3,h4,h5,h6 {
margin: 0;
}

header {
    background-color: chartreuse;
    height: 20vh;
    background-image: url(crossdesigner.jpg);
    background-size: cover;
    background-position: center;
}
nav,footer {
    background-color: rgb(73, 161, 255);
    height: 5vh;
}
main {
    background-color: rgb(219, 219, 219);
    min-height: 40vh;
    display: flex;
    justify-content: space-between;
}

main section {
    background-color: orange;
    margin: 1rem;
    flex: 1;
}
.fatsection {
    flex: 2;
}